.containerStyle {
    margin: 20px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .header-logo img {
    width: 100px; /* Adjust the width as needed */
  }
  
  .ContainerV2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .CardStyle {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    max-width: 200px; /* Adjust the maximum width as needed */
  }
  
  .CardImageStyle {
    width: 100%;
    height: auto;
  }
  
  .CardDescriptionStyle {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
  }
  
  .CardDescriptionStyleAdd {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .CardDescriptionStyleAdd:hover {
    background-color: #4c45a0;
  }